{% extends 'main.html.twig' %}


{% block body %}

<body>

	{{ include('mainmenu.html.twig') }}
	
	<div id="page-wrapper">
	
	{% block page_content %}{% endblock %}
	
	</div>

</body>


{% endblock %}